* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("./images/piano-b&w.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-left: 3rem;
  font-size: 3rem;
  color: white;
}

h3 {
  color: white;
  font-weight: 500;
  font-size: 2.2rem;
  margin: 2rem;
}
.App {
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;

  background-color: rgba(75, 75, 75, 0.637);
}

nav ul {
  display: flex;
  margin-right: 3rem;
}

ul li {
  margin: 2rem;
  list-style: none;
  text-decoration: none;
  color: white;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.575);
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.2s ease;
}
.link:hover {
  color: white;
}
.about-container {
  max-width: 80vw;
  max-width: 60vw;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.about-info {
  margin-top: 4rem;
  font-size: 1.4rem;
  text-indent: 4rem;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.568);
}

.player-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.react-player {
  box-shadow: -1px 2px 28px 10px rgba(255, 255, 255, 0.856);
  -webkit-box-shadow: -1px 2px 28px 10px rgba(255, 255, 255, 0.486);
  -moz-box-shadow: -1px 2px 28px 10px rgba(255, 255, 255, 0.514);
  max-width: 40vw;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  text-align: center;
  margin-top: 1rem;
}
.options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

button {
  background-color: rgba(83, 83, 83, 0.521);

  border-radius: 2rem;
  font-size: 1.6rem;

  color: white;
  width: 7rem;
  height: 3rem;
  border-style: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-green {
  animation: toGreen 1s ease;
}
.btn-red {
  animation: toRed 1s ease;
}
@keyframes toGreen {
  0% {
    background-color: rgba(83, 83, 83, 0.795);
  }
  30% {
    background-color: rgb(20, 196, 20);
  }
  100% {
    background-color: rgba(83, 83, 83, 0.795);
  }
}
@keyframes toRed {
  0% {
    background-color: rgba(83, 83, 83, 0.795);
  }
  50% {
    background-color: rgb(219, 42, 42);
  }
  100% {
    background-color: rgba(83, 83, 83, 0.795);
  }
}
button:hover {
  transform: scale(105%);
  background-color: rgba(83, 83, 83, 0.795);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 640px) {
  .options {
    flex-direction: column;
    align-items: center;
  }
  .header {
    height: 10vh;
  }
  button {
    margin: 0.2rem;
    font-size: 1.6rem;
  }
  .game-container {
    margin: 0;
  }
  .player-container {
    max-width: 80vw;
  }
  .player-container h3 {
    margin-bottom: 0.5rem;
  }
  .react-player {
    max-width: 70vw;
  }
  h1 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.3rem;
    margin: 0;
  }
  ul li {
    margin: 0.2rem;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 1.2rem;
  }
  .about-container {
    padding: 1rem;
    max-width: 80vw;
    height: 90vh;
  }
  .about-info {
    width: 80vw;
    margin-top: 0;
  }
  .about-container h3 {
    display: none;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
  }
  .about-container p {
    font-size: 1rem;
  }
  .player-container {
    height: 40vh;
  }
}
